Repository AMTTeam01/AMT_Project, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, java, design, web, testing, docker

.github/labeler.yml:

repo:
  - ./*

java: 
  - src/**/*.java

design: 
  - src/**/*.css

web:
  - src/main/webapp/*
  
testing:
  - e2e/*
  
docker:
  - docker/*

Add a fake question list ans improve list view
  .idea/jsLibraryMappings.xml
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionsDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/BrowsingRenderer.java
  src/main/webapp/WEB-INF/views/browsing.jsp
  src/main/webapp/WEB-INF/views/fragments/header.jsp
Labels: java

New questions looks working - 2
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFailedException.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/IQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/Question.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/memory/InMemoryQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/webapp/WEB-INF/views/new_question.jsp
Labels: java

Add PR greetings
  .github/workflows/greetings.yml
Labels: none

Fix crash + add navbar
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/BrowsingRenderer.java
  src/main/webapp/WEB-INF/views/browsing.jsp
  src/main/webapp/WEB-INF/views/new_question.jsp
Labels: java

Add starts
  src/main/webapp/WEB-INF/views/browsing.jsp
Labels: none

Add id in jsp
  src/main/webapp/WEB-INF/views/browsing.jsp
Labels: none

Add throws in test
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionDTOFacadeIT.java
Labels: java

Add logo and line between home and new question
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
Labels: none

Add href for new question
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
Labels: none

fix httpError
  .github/workflows/labeler.yml
Labels: none

Add package downloading instruction
  README.md
Labels: repo
